@charset 'utf-8';


// 张树垚 2015-12-20 11:22:45 创建
// H5微信端 --- 个人首页


@import '../../../source/scss/main';

@import '../../components/nav/nav';

// @import '../../views/view';

// @import '../../dialogs/dialog';
$img: $g-pages + '/frozen/images';

html {
	background: url($img + '/_bg.png') #3f49a3;
}
.frozen{
	padding: 72px;
	color: #ffffff;
	&:after {
		height: 100%; width: 100%;
	}
	&-sorry{
		text-align: center;
		&-img{
			@include sprite($img + '/sorry.png' , 134px , 144px);
			display: inline-block;
		}
	}
	&-world{
		text-align: center;
	}
	&-phone{
		margin-top: px(290px, 750px);
		line-height: px(100px, 750px);
		text-align: center;
		border: 1px solid #ffffff;
	}
}

