
// 张树垚 2016-03-29 16:39:25 创建
// H5微信端 --- require配置文件


(function() {

	var H5_FACTORY = '../factory';
	var paths = {
		PATH_LIBRARY: '../../source/library',
		H5_FACTORY: H5_FACTORY,
		H5_VIEWS: H5_FACTORY + '/views',
		H5_COMPONENTS: H5_FACTORY + '/components',
		H5_DIALOGS: H5_FACTORY + '/dialogs',
		H5_PAGES: H5_FACTORY + '/pages',
		H5_SOURCE: '../source',
	};
	var reg = /\{\{(.*)\}\}/;
	var replace = function(json) {
		for (var i in json) {
			var match = json[i].match(reg);
			var name = match ? match[1] : '';
			if (name && name in paths) {
				console.log(paths[name])
				json[i].replace(reg, paths[name]);
			} else {
				console.log('error: ' + name + '在paths中不存在!');
			}
		}
	};

	
	require.config({
		baseUrl: './',
		paths: replace({{amd}}),
		shim: {
			jquery: {
				exports: "jQuery"
			},
			$: {
				exports: "jQuery"
			}
		},
		include: [],
		module: []
	});
})();
