@charset 'utf-8';

// 张树垚 2015-12-27 15:57:15 创建
// H5微信端 --- 微信授权跳转页

@import '../../../source/scss/main';

@import '../../views/view';
@import '../../views/agreement/agreement';


.block{
	border-top: none;
}
.text-ident{
	border-left: none;
}

.index {

	$img: $g-pages + '/index/images';

	text-align: center;
	padding: $g-padding-bottom 0;
	font-weight: bold;
	font-size: 20px;

	&-login {
		@extend .view-style;
		background: #fff;
		&-scroll {
			padding-bottom: 400px;
		}
		&-picture {
			margin: 40px auto 0;
			@include square(85px);
			border-radius: 50%;
			border: 1px solid $g-white;
			box-shadow: 0px 0px 3px #ccc;
			overflow: hidden;
			>img {
				border-radius: 50%;
				@extend .img-f;
			}
		}
		&-name {
			margin-top: 8px;
			text-align: center;
			@extend %text-overflow;
			font-size: $g-font-input;
			color: $g-dark;
		}
		&-main {
			margin-top: 48px;
		}
	}
}

