@charset 'utf-8';


// 张树垚 2016-01-09 14:29:10 创建
// H5微信端 --- 订单


@import '../../../source/scss/main';

@import '../../components/order/order';

@import '../../views/view';
@import '../../views/authentication/authentication';
@import '../../views/paypass/paypass-view';
@import '../../views/bill/bill';
@import '../../views/coupon/coupon';


@import '../../dialogs/dialog';
@import '../../dialogs/paypass/paypass';
@import '../../dialogs/confirm/confirm';
@import '../../dialogs/alert/alert';
@import '../../dialogs/success/success';

body {
	background-color: $g-background;
}


.order {

	$img: $g-pages + '/order/images';

	@extend %fade-in;

	&-head {
		&-desc {
			border-bottom: $g-border;
			padding: 20px $g-padding 12px;
			line-height: 26px;
			&-line {
				overflow: hidden;
			}
			&-tip {
				overflow: hidden;
				color: $g-ash;
				&-fl {
				    letter-spacing: 5px;
				}
				&-fr {
                    color: $g-dark;
                }
			}
		}
		&-use {
//			@include height(48px);
            line-height: 48px;
			background-color: #ffffff;
			border-bottom: $g-border;
			padding: 0 $g-padding;
			margin-top: 10px;
			&-guo {
				float: right;
				font-size: 14px;
				color: $g-blue;
				margin-right: 8px;
			}
			&-money {
				float: right;
				//color: $g-light;
				color: $g-blue;
				font-size: 22px;
				.on > & {
					color: $g-blue;
				}
			}
			&-coupon{
			    .order-head-use-money{
			        color: #ff4238;
			    }
			    &-arrow{
			        @include sprite($img + '/arrow.png', 9px, 15px);
                    margin-right: $g-padding;
                    float: right;
                    margin-top: 17px;
			    }
			    span{
                   display: inline-block;
                   //min-width: 93px;
                    padding: 0 5px;
                   @include height(20px);
                   text-align: center;
                   color: #6888d9;
                   border: 1px solid #6888d9;
                   border-radius: 5px;
                   font-size: 12px;
                   float: right;
                   margin-right: 10px;
                   margin-top: 13px;
                }
                .no-coupon{
                    width: 70px;
                    color: #999;
                    border: 1px solid #999;
                }
			}
			&-coupon:after{
                content: "."; 
                display: block;
                height: 0; 
                clear: both; 
                visibility: hidden;
            }
            &-line{
                border-bottom: $g-border;
                width: 120%;
            }
		}
		&-use:after{
		   content: "."; 
           display: block;
           height: 0; 
           clear: both; 
           visibility: hidden; 
		}
		&-pay {
			@include height(52px);
			padding: 0 $g-padding;
		}
		&-tip{
		    font: 12px/2 sans-serif, Arial, Verdana;
		    color: $g-blue;
		    padding: 10px 20px 12px;
		}
		&-radio {
			float: left;
			margin-top: 16px;
			margin-right: 10px;
			@include sprite($img + '/1.png', 16px);
			.on > & {
				@include sprite($img + '/2.png', 16px);
			}
		}
		&-label {
			float: left;
			font-size: 14px;
			icon {
			    font-family: helvetica;
			};
		}
		&-num {
			float: right;
			font-size: 22px;
			color: #999999;
			font-family: arial;
		}
	}
	&-bill {
		@extend .view-style;
	}
}
