<!-- 关于我们 -->
<div class="about-us scroll">
	<div class="about-us-scroll">
		<div class="about-us-head"><span class="about-us-head-img"></span><span class="bold">北京果仁宝科技有限公司</span><br><a href="tel:400-184-9696" class="a-blue">400-184-9696</a></div>
		
		<div class="about-us-title">【公司概述】</div>
		<div class="about-us-paragraph">北京果仁宝科技有限公司成立于2015年6月，隶属于港股上市公司神州数字（股票代码：08255.HK）。果仁宝秉承“认可、参与、成就、分享”的文化理念以及“用户至上”的准则，致力于为全球用户提供“快捷、安全、保值”的数字资产服务。</div>
		<div class="about-us-paragraph">2015年11月获得工信部全国移动互联创新奖。</div>
		<div class="about-us-paragraph">2015年12月获得清科集团最具投资价值奖。</div>
		
		<div class="about-us-title">【产品介绍】</div>
		<div class="about-us-paragraph">“果仁宝”是由北京果仁宝科技有限公司打造的一站式理财消费新平台。果仁宝系列产品为用户提供安全，稳健的理财新渠道，同时具有随买随花的灵活属性。未来，果仁宝还将开拓更多线上线下，海内海外的消费场景，为全球用户提供快捷、安全的消费服务。</div>

		<div class="about-us-title">【产品特色】</div>
		<div class="about-us-paragraph">
			价值稳健：果仁在手恒久保值。果仁具有抗通胀的能力，价值稳健，具有可观的预期年化收益率。
		</div>
		<div class="about-us-paragraph">
			场景丰富：广阔前景无可限量。更多线上线下，海内海外的消费场景正在全力构建中。
		</div>
		<div class="about-us-paragraph">随买随花：谁说高收益和活期存取不能兼得？用活期的方式坐享高收益，果仁宝就是这么任性！</div>
		<div class="about-us-paragraph">极致安全：信息全程加密，关键环节动态校验，专业的风控团队，三重安保全程为您的资产护航。</div>

	</div>
</div>
