@charset 'utf-8';


// 张树垚 2015-12-20 11:22:45 创建
// H5微信端 --- 个人首页


@import '../../../source/scss/main';

@import '../../components/nav/nav';

// @import '../../views/view';

// @import '../../dialogs/dialog';


html {
	background-color: $g-background;
}


.home {
	$img: $g-pages + '/home1/images';
	$border: 1px solid $g-light;
	$padding: 20px;
	$colorwhite: #fff;
	$colororange: #FFBB44;
	$color999: #999999;
	$colorborder: #DDDDDD;
	$colorworldblue: #AABFF5; //蓝色类似透明文字
	$colorpricegreen: #2ACEA2; //收益绿色

	margin-bottom: 59px;

	&-banner{
		height: 199.68px;
		padding: $padding;
		background-image: url($img + '/_down.jpg'); 
		@include background-size;
		&-nobuygop{
			height: 100%;
			&-layer1{
				width: 245px;
				text-align: center;
				line-height: 25px;
				color: $colorworldblue;
				background-color: #4B5293;
				border-radius:10px; 
				margin-bottom: 10px;
				>span{
					color: $colororange;
				}
			}
			&-layer2{
				text-align: center;
				color: $colorwhite;
				.layer21{
					font-size: 32px;
				}
				.layer22{
					
				}
			}
			&-layer3{
				text-align: center;
				>a{
					margin: 10px 0px;
					border-radius: 5px;
					background-color: $colororange;
					display: block;
					line-height: 34.134px;
					color: $colorwhite;
				}
				>span{
					color: $colororange;
				}
			}
		}
		&-mygop{
			position: relative;
			height: 100%;
			&-togglebtn{
				position: absolute;
				top: 3px;
				right: 0px;
			}
			&-togglebtn:after{
				width: 30px; height: 30px; content: ''; display: block;
			}
			.up{
				@include sprite($img + '/up.png', 22px, 22px);
			}			
			.down{
				@include sprite($img + '/down.png', 22px, 22px);
			}
			&-totalgop{ //总共果仁
				color: $colorwhite;
				.expectincome{
					>i{	//小猪
						@include sprite($img + '/pig.png', 22px, 22px);
						float: left;
						margin:0px 5px;
					}
					>span{
						color: $colororange;
					}
					color: $colorworldblue;
					text-align: right;
					padding-right: 10px;
					border-radius: 10px; 
					background-color: #4C5292;
					margin-right: 35px;
					width: auto;
					float: right;
				}
				.mytotalgop{
					color: $colorworldblue;
					padding-top: 35px;
				}
				.rmbnum{
					text-align: center;
					font-size: 44px;
					>span{
						padding-bottom: 5px;
						border-bottom: 1px solid #8589BE;
					}
				}
				.gopbottom{
					overflow: hidden;
					div{
						color: $colorworldblue;
					}
					.mygopnum{
						float: left;
						 text-align: left;
						 >span{
							font-size: 18px;
							color: $colorwhite;
						}
					}
					.gopprice{
						float: right;
						text-align: right;
						>span{
							font-size: 18px;
							color: $colorwhite;
						}
					}
				}
			}
			&-incomegop{
				.nowgopprice{
					>i{	//小猪
						@include sprite($img + '/tg.png', 22px, 22px);
						float: left;
						margin: 0px 5px;
					}
					>span{
						color: $colorpricegreen;
						border-bottom: 1px solid $colorpricegreen;
						margin: 0px 5px;
					}
					padding: 0px 5px;
					color: $colorworldblue;
					text-align: right;
					padding-right: 10px;
					border-radius: 15px; 
					background-color: #4C5292;
					margin-right: 35px;
					float: right;
				}
				.totalincome{
					color: $colorworldblue;
					padding-top: 35px;					
				}
				.incomenum{
					text-align: center;
					font-size: 44px;
					color: $colorwhite;
					>span{
						padding-bottom: 5px;
					}
				}
				.gopbottom{
					overflow: hidden;
					div{
						color: $colorworldblue;
					}
					.yestodayincome{
						float: left;
						 text-align: left;
						 >span{
							font-size: 18px;
							color: $colorwhite;
						}
					}
					.yearincome{
						float: right;
						text-align: right;
						>span{
							font-size: 18px;
							color: $colorwhite;
						}
					}
				}				
			}
		}
	}
	&-gop{
		overflow: hidden;
		background: $colorwhite;
		>span{
			color: #777777;
			float: left;
			box-sizing: border-box;
			width: 50%;
			text-align: center;
			height: 54px;
			line-height: 54px;
			background-repeat: no-repeat;
			background-position: 15% 45%;
		}
		&-buy{
			border-right: 1px solid $colorborder;
			@include sprite($img + '/gop_buy.png', 36px, 36px);
		}
		&-transfer{
			@include sprite($img + '/gop_transfer.png', 36px, 36px);
		}
	}
	&-slider{
		margin: 18px 0px;
		height: 100px;
		background: url($img + '/slider1.png');
		background-size: 100% 100%;
	}
	&-phonebills{
		background-color: $colorwhite;
		height: 110px;
		margin-bottom: 10px;
		// height: 83.34px;
		// padding: 17px 12.8px 10.66px 12.8px;
		padding: 17px 0px 10.66px 0px;
		text-align: center;
		&-left{
			float: left;
			width: 35%;
			height: 79px;
			&-curprice{
				font-size: 14px;
				color: #F13A3A;
				>span{
					font-size: 20px;
				}
			}
			&-oriprice{
				color: $color999;
				position: relative;
				>i{
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					height: 1px;
					width: 80px;
					transform:translate(-50%,-50%);
					border-top: 1px solid $color999;
				}
			}
		}
		&-right{
			text-align: left;
			float: right;
			width: 65%;
			height: 79px;
			box-sizing: border-box;
			padding-left: 35px;
			&-productcangory{
				font-size: 16px;
				margin-bottom: 5px;
			}
			&-productrange{
				overflow: hidden;
				>span{
					float: left;
					width: 65px; 
					line-height: 20px; 
					border-radius: 10px;
					border: 1px solid $colorborder;
					text-align: center;
					margin-right: 10px;
					color: $color999;
				}
			}
		}
		&-down{
			overflow: hidden;
			clear: both;
			border-top: 1px solid #E0E0E0;
			width: 90%;
			line-height: 39px;
			margin-left: 5%;
			>span{
				float: left;
				color: $color999;
			}
			>a{
				float: right;
				border-radius: 15px;
				border: 1px solid #3D70EE;
				line-height: 20px;
				padding: 0px 10px;
				margin-top: 9px;
				color: #3D70EE;
			}
		}
	}
}
