<div class="discovery-temp-1 scroll">
	<div class="discovery-temp-banner">
		<img src="./images/discovery-temp-banner1.png" alt="" class="img-w">
	</div>
	<dl class="discovery-temp-dl dlw">
		<dt class="discovery-temp-dt">
			1. <br>
			产品介绍
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p">
				北京果仁宝科技有限公司成立于2015年6月，隶属于港股上市公司神州数字（股票代码：08255.HK）。作为全球一站式数字积分消费服务平台，果仁宝以“安全、保值、快捷”为宗旨，给用户提供安全、稳健的理财新渠道。同时，果仁宝团队将秉承“认可、参与、成就、分享”的创业理念以及“用户至上”的准则，开拓更多线上线下，海内海外的消费场景，为全球用户提供更完善的积分服务。
				<br><br>
				^ 2015年11月获得工信部全国移动互联创新奖。<br>
				^ 2015年12月获得清科集团最具投资价值奖。
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl dlw">
		<dt class="discovery-temp-dt">
			2. <br>
			产品特点
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p">
				^ 价值稳健。果仁在手恒久保值。果仁具有抗通胀的能力，价值稳健，具有可观的预期年化收益率。<br>
				^ 场景丰富。广阔前景无可限量。更多线上线下，海内海外的消费场景正在全力构建中。<br>
				^ 随买随花。谁说高收益和活期存取不能兼得？用活期的方式坐享高收益，果仁宝就是这么任性！<br>
				^ 极致安全。信息全程加密，关键环节动态校验，专业的风控团队，三重安保全程为您的资产护航。
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl dlw">
		<dt class="discovery-temp-dt">
			3. <br>
			果仁宝大事记
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p">
				^ 2015年6月 <br>
				果仁宝引入Goopal技术开发应用产品 ；
				<br><br>
				^ 2015年11月 <br>
				果仁宝在工信部主办的移动创新大赛夺奖；
				<br><br>
				^ 2015年12月<br>
				果仁宝荣获中国最具投资价值企业50强；
				<br><br>
				^ 2016年5月<br>
				果仁宝产品上线；
			</p>
		</dd>
	</dl>	
</div>