<div class="discovery-temp-2 scroll">
	<div class="discovery-temp-banner">
		<img src="./images/discovery-temp-banner2.png" alt="" class="img-w">
	</div>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt dlw">
			<img src="images/discovery-temp-con1.png" class="img-w">
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p discovery-temp-2-dd-p">
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt dlw">
			<img src="images/discovery-temp-con2.png" class="img-w">
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p discovery-temp-2-dd-p">
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt dlw">
			<img src="images/discovery-temp-con3.png" class="img-w">
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p discovery-temp-2-dd-p">
			</p>
		</dd>
	</dl>	
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt dlw">
			<img src="images/discovery-temp-con4.png" class="img-w">
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p discovery-temp-2-dd-p">
			</p>
		</dd>
	</dl>				
	<!--	
	<dl class="discovery-temp-dl discovery-temp-2-dl">
		<dt class="discovery-temp-dt discovery-temp-2-dt">
			<img src="images/discovery-temp-con1.png" class="img-w">
		</dt>
		<dd class="discovery-temp-dd discovery-temp-2-dd">
			<p class="discovery-temp-dd-p discovery-temp-2-dd-p">
			</p>
		</dd>
	</dl>
	-->
</div>