<div class="discovery-temp-1 scroll">
	<div class="discovery-temp-banner">
		<img src="./images/discovery-banner1.png" alt="" class="img-w">
	</div>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt">
			1. <br>
			产品介绍
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p">
				北京果仁宝科技有限公司成立于2015年6月，隶属于港股上市公司神州数字（股票代码：08255.HK）。作为全球一站式数字积分消费服务平台，果仁宝以“安全、保值、快捷”为宗旨，给用户提供安全、稳健的理财新渠道。同时，果仁宝团队将秉承“认可、参与、成就、分享”的创业理念以及“用户至上”的准则，开拓更多线上线下，海内海外的消费场景，为全球用户提供更完善的积分服务。
				<br><br>
				^ 2015年11月获得工信部全国移动互联创新奖。<br>
				^ 2015年12月获得清科集团最具投资价值奖。
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt">
			2. <br>
			产品功能
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p">
				^ 支持主流银行卡购买果仁积分，安全便利32个赞；<br>
				^ 果仁积分当钱花，消费场景丰富多彩；<br>
				^ 果仁积分价值稳健，收益随时查看；<br>
				^ 支持果仁积分转给朋友，好东西一起玩；
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt">
			3. <br>
			果仁宝大事记
		</dt>
		<dd class="discovery-temp-dd">
			<p class="discovery-temp-dd-p">
				^ 2015年6月 <br>
				果仁宝引入Goopal技术开发应用产品 ；
				<br><br>
				^ 2015年11月 <br>
				果仁宝在工信部主办的移动创新大赛夺奖；
				<br><br>
				^ 2015年12月<br>
				果仁宝荣获中国最具投资价值企业50强；
			</p>
		</dd>
	</dl>	
</div>