<div class="discovery-temp scroll">
	<div class="discovery-temp-banner">
		<img src="./images/discovery-temp-banner.png" alt="" class="img-w">
	</div>
	<dl class="discovery-temp-dl dlw">
		<dt class="discovery-temp-dt">
			最具投资价值企业50强揭晓 果仁宝成新贵
		</dt>
		<dd class="discovery-temp-dd">
			<span class="discovery-temp-dd-sprite_a"></span>
			<p class="discovery-temp-dd-p">
				2015年12月2日，由清科集团发起的2015年投资界年会在北京举行，国内众多高成长企业CEO到场分享讨论创业话题，大会评选出中国最具投资价值企业50强。互联网创业新秀果仁宝荣登2015年第十届中国最具投资价值企业50强新芽榜榜单。
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl dlw">
		<dt class="discovery-temp-dt">
			中国最具投资价值企业50强榜单出炉
		</dt>
		<dd class="discovery-temp-dd">
			<span class="discovery-temp-dd-sprite_a"></span>
			<p class="discovery-temp-dd-p">
				“中国最具投资价值企业50强” 自创立以来备受高度关注，已被誉为投资行业风向标，在众多互联网企业中，“果仁宝”作为本场评选大会黑马脱颖而出。果仁宝总经理崔萌先生受邀出席了颁奖典礼。果仁宝作为一家具有理财属性的一站式消费新平台，在为用户提供便捷丰富的消费场景的同时，还依托创新的Goopal区块链技术为平台带来了安全，保值，稳健的理财属性。这项创新力十足的项目乍一亮相就吸引了众多眼球，被评委公认具备极高的投资价值。
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl dlw">
		<dt class="discovery-temp-dt">
			果仁宝先进技术与高投资价值属性受评委青睐
		</dt>
		<dd class="discovery-temp-dd">
			<span class="discovery-temp-dd-sprite_a"></span>
			<p class="discovery-temp-dd-p">
				果仁宝团队秉承“认可、参与、成就、分享”的创业理念以及“用户至上”的准则，正积极扩展众多线上线下，海内海外的消费场景，并创新使用前沿Goopal区块链技术，为用户提供公平公开、去中心化和广泛信任的具有互联网理财属性的服务，必将迅速崛起并不断创新成长。作为具有理财属性的一站式消费新平台，果仁宝以自身的高投资价值赢得了与会评委的一致青睐。
			</p>
		</dd>
	</dl>	
</div>