<div class="discovery-temp scroll" ms-controller="discovery-temp">
	<div class="discovery-temp-banner">
		<img src="../images/banner1.png" alt="" class="img-w">
	</div>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt">
			最具投资价值企业50强揭晓 果仁宝成新贵
		</dt>
		<dd class="discovery-temp-dd">
			<span class="discovery-temp-dd-sprite_a"></span>
			<p class="discovery-temp-dd-p">
				2015年12月2日，由清科集团发起的2015年投资界年会在北京举行，国内众多高成长企业CEO到场分享讨论创业话题，大会评选出中国最具投资价值企业50强。互联网创业新秀果仁宝荣登2015年第十届中国最具投资价值企业50强新芽榜榜单。
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt">
			中国最具投资价值企业50强榜单出炉
		</dt>
		<dd class="discovery-temp-dd">
			<span class="discovery-temp-dd-sprite_a"></span>
			<p class="discovery-temp-dd-p">
				“中国最具投资价值企业50强” 自创立以来备受高度关注，已被誉为投资行业风向标，在众多互联网企业中，“果仁宝”作为本场评选大会黑马脱颖而出。果仁宝总经理崔萌先生受邀出席了颁奖典礼。果仁宝是全球一站式数字积分消费服务平台，致力于为用户提供快捷、安全、保值的数字积分服务。这项创新力十足的项目乍一亮相就吸引了众多眼球，被评委公认具备极高的投资价值。
				果仁宝先进技术与高投资价值属性受评委青睐
			</p>
		</dd>
	</dl>
	<dl class="discovery-temp-dl">
		<dt class="discovery-temp-dt">
			果仁宝先进技术与高投资价值属性受评委青睐
		</dt>
		<dd class="discovery-temp-dd">
			<span class="discovery-temp-dd-sprite_a"></span>
			<p class="discovery-temp-dd-p">
				果仁宝作为国内专业的数字积分服务平台，目前面向网络游戏、电子商务、贸易等多个领域提供服务。果仁宝团队秉承“认可、参与、成就、分享”的创业理念以及“用户至上”的准则，将在数字积分服务行业迅速崛起并不断创新成长。
			</p>
		</dd>
	</dl>	
</div>