<!--果仁市场地址new-->
<div class="address-mine" ms-controller="address-mine">
	<img src="images/address-banner.png" class="address-mine-banner"/>
	<div class="block-item" ms-click="marketAddress_add_click" ms-visible="!hasMarketAddress">
		<div class="address-add"></div>
		<div class="block-label">添加果仁市场地址</div>
		<div class="block-arrow"></div>
	</div>
	<!-- 删除果仁市场 -->
	<div class="block-item" ms-visible="hasMarketAddress">
		<div class="block-label">{{marketGopAddress.substr(0,8)+'**********'}}</div>
		<button class="address_del" ms-click="marketAddress_del_click">删除</button>
		<!--<div class="address-del" ms-click="marketAddress_del_click">删除</div>-->
	</div>
	<!--添加市场地址-->
	<div class="block-item" ms-visible="setMarketAddress">
        <div class="text">
            <div class="text-box"><input id="address-mine-input-focusa" name="address-mine-input" class="text-input" autocomplete="off" placeholder="请输入果仁市场地址" type="text" maxlength="70" data-text='close' ms-duplex="marketGopAddress"></div>
            <div class="text-close"></div>
        </div>
        <div class="address-finish" ms-click="marketAddress_save_click">完成</div>
	</div>
	<div class="tip">
		<div class="tip-icon"></div>
		<div class="tip-cont">转果仁到该地址后 可前往果仁市场交易变现</div>
	</div>
	<div class="address-mine-tips">
		<div class="address-mine-tips-title">如何获取我的果仁市场地址</div>
		<p>前往www.guorenshichang.com注册果仁市场账号</p>
		<p>查看“我的账户”&nbsp;&nbsp;<i class="address-mine-tips-arrow"></i>&nbsp;&nbsp;“基本信息”&nbsp;&nbsp;<i class="address-mine-tips-arrow"></i>&nbsp;&nbsp;“我的市场地址”</p>
	</div>
	<div class="text-button"><span class="button" ms-class="disabled:!hasMarketAddress" ms-click="transferToMarket">转果仁到市场</span></div>
	<div class="address-bottom-tips" data-keyboard="hide(address-mine-input-focusa)">
		<span>快速变现正在开发中,敬请期待</span>
	</div>
</div>
