@charset 'utf-8';

// 张树垚 2015-12-20 11:22:45 创建
// H5微信端 --- 个人首页

@import '../../../source/scss/main'; //里面有components $.alert() 的一些样式
@import '../../components/nav/nav';
@import "../../views/view";
@import "../../views/discovery-temp/discovery-temp";

html {
	background-color: $g-background;
}
%sign{
	font-size: 30px;
	width: 5px;
	display: inline-block;
}
.screen-r:after{
	content: 'loading...';
	position: absolute;
	width: 100px;
	text-align: center;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	left:50%;
	margin-left: -50px;
	top:50%;
	margin-top:-50px;
}
.screen-r.focus:after{
	display: none;
}
.home {
	$bannerlayer2pt: 25px;     // banner图 我的总资产 累计收益
	$bannercenterworldlineheight: 90px; //banner图 中间大字
	$bannercenterworldfontsize: 50px;

	@extend %fade-in;
	$img: $g-pages + '/home/images'; //雪碧图用的相对路径 不生成public中
	$image: $g-img;	// 静态图专用 images/_abc.png  在public/images/home-abc.png下生成
	$border: 1px solid $g-light;
	$padding: 20px;
	$colorwhite: #fff;
	$colororange: #FDA354;
	$color999: #999999;
	$colorworldblue: #AABFF5; //蓝色类似透明文字
	$colorpricered: #ffa2a3; //收益红
    margin-bottom: 70px;
	&-banner{
		height: 160px;
		padding-top: 30px;
		padding-bottom: 60px;
		background-image: url($image + '/home-bgblue.jpg');
		background-size:cover ;
		background-repeat: repeat;
		&-nobuygop{
			width: 94%;
			margin: 0 auto;
			height: 100%;
			margin-top: -20px;
			display: none;
			&-layer1{
				color: $colorworldblue;
			}
			&-layer2{
				width: 250px;
				height: 65px;
				color: $colorwhite;
				text-align: center;
				margin: 10px auto 0;
				line-height: 20px;
				&:after{
					content: "";
					clear: both;
					width: 0;
					height: 0;
				}
				.layer22{
					font-size: 17px;
					text-align: center;
					float: left;
					text-indent: 5px;
					margin-top: 34px;
				}
				.rate-num{
					float: left;
					font-size: 59px;
					color: #fdd654;
					line-height: 65px;
					margin-left: 10px;
				}
				.rate-num-small{
					margin-top: 34px;
					float: left;
					font-size: 17px;
					color: #fdd654;
				}
			}
			&-layer3{
				background: rgba(64, 77, 150, 0.5);
				color:rgba(255,255,255,.5);
				width: 248px;
				height: 20px;
				line-height: 20px;
				border-radius: 10px;
				text-align: center;
				margin: 0 auto;
			}
			&-layer4{
				display: block;
				width: 150px;
				height: 28px;
				line-height: 28px;
				border: 1px solid $colorwhite;
				color: $colorwhite;
				background: rgba(255,255,255,.1);
				border-radius: 5px;
				margin: 30px auto 0;
				text-align: center;
				font-size: 14px;
			}
		}
		&-mygop{
			display: none;
			position: relative;
			width: 94%;
			margin: 0 auto;

			&-totalgop{ //总共果仁
				color: $colorwhite;
				.mytotalgop{
					color: rgba(255,255,255,.5);;
					text-indent: 15px;
					font-size: 10px;
				}
				.rmbnum{
					font-size: 38px;
					line-height: 70px;
					color: #fff;
					text-indent: 15px;
				}
			}
		}
		.gopbottom{
			$borderrbgacolor:rgba(238,238,238,.1);
			overflow: hidden;
			height: 100px;
			border-top:1px solid $borderrbgacolor ;
			&:after{
				content: "";
				clear: both;
				width: 0;
				height: 0;
			}
			.gopli{
				width: 33.33%;
				border-right: 1px solid $borderrbgacolor;
				box-sizing: border-box;
				height: 100%;
				padding-top: 25px;
				float: left;
				text-align: center;
				&-title{
					width: 100%;
					line-height: 20px;
					color: rgba(255,255,255,.5);
					font-size: 10px;
				}

				&-numbers{
					width: 100%;
					line-height: 30px;
					color: rgba(255,255,255,1);
					font-size: 18px;
					font-weight: bold;
				}
			}
			.gopli:nth-last-child(1){
				border: none;
			}
		}
	}
	&-gop{
		width: 94%;
		margin: 0px auto;
		margin-top: -30px;
		height: 60px;
		line-height: 60px;
		overflow: hidden;
		background: $colorwhite;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 5px;
		box-shadow: 0px 1px 5px rgba(154, 144, 188, 0.2);
		&-buy,&-transfer{
			color: #777777;
			float: left;
			box-sizing: border-box;
			width: 50%;
			text-align: center;
			line-height: 60px;
			background-repeat: no-repeat;
			background-position: 15% 45%;
			position: relative;
		}
		&-buy span,&-transfer span{
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			font-size: 14px;
		}
		&-buy{
			@include border-one("right", #DDDDDD, "after");
			&-span {
				@include sprite($img + '/icon_buy.png', 36px, 36px);
			}
		}
		&-transfer {
			&-span {
				@include sprite($img + '/icon_transfer.png', 36px, 36px);
			}
		}
	}
	&-chart-title{
		line-height: 40px;
		text-indent: 10px;
		font-size: 14px;
		padding: 0px 3%;
		margin-top: 10px;
	}
	&-chart {
		position: relative;
		margin: 0px auto 50px;
		// float: left;
		height: 200px;
		width: 94%;
		&-item {
			height: 100%;
		}
		&-cover {
			@extend %afull;
		}
		.curr-price-tip{
			display: none;
			position: absolute;
			width: 120px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			color: white;
			font-size: 12px;
			border-radius: 15px;
			background: #5674e7;
		}
		.curr-price-circle{
			display: none;
			position: absolute;
			width: 10px;
			height: 10px;
			line-height: 10px;
			box-sizing: border-box;
			border-radius: 5px;
			border: 2px solid #5674e7;
			background: white;
		}
		.curr-price-span{
			display: inline-block;
			margin-left: 8px;
			font-size: 14px;
			height: 13px;
			line-height: 13px;
		}

	}

}
.icon-rmb{
	display: inline-block;
	width: 12px;
	text-align: center;
}
.slider-hd-li{
    background-color:#e6e6e6;
}
