@charset 'utf-8';

// 张树垚 2016-02-24 16:06:35 创建
// H5微信端 --- view-discovery-temp发现模板

.discovery-temp{
	$img: $g-pages + '/discovery/images';
	background: #ffffff;
	@extend .view-style;
	&-banner{
		&>img{
			height: 117px;
		}
	}
	&-dl{
		margin: 38px 9px; 
	}
	&-dt{
		text-align: center;
		font-size: 16px;
		font-weight: bold;
	}
	&-dd{
		text-align: center;
		&-sprite_a{
			@include sprite($img+'/sprit1.png', 20px, 20px);
			display: inline-block;
			vertical-align: middle;
			margin: 7px 0px;
		}
		&-p{
			font-size: 15px;
			text-align: left;
		}
	}
}
