
<div class="coupons-detail" ms-controler="">
    <header class="header-top">
        <h2>现金折扣券</h2>
        <p class="limit-time">有效日期：2016-06-01至2016-06-30</p>
        <img src="./images/coupon-temp-passed.png" alt="">
    </header>
    <div class="details">
        <h3>使用规则</h3>
        <article>
            <p>1.不限订单金额</p>
            <p>2.123fdsafdsa</p>
        </article>
        <h3>使用说明</h3>
        <article>
            <p>1.不限订单金额</p>
            <p>2.123fdsafdsa</p>
        </article>
    </div>
</div>