@charset "utf-8";
@import '../../../source/scss/main';
.coupon-detail{
  @extend .view-style;
  background: #f2f2f2;
  width:100%;
  .header-top{
    width: 90%;
    margin: 0px auto;
    padding:10px 0px 20px;
    position: relative;
    border-bottom: 1px solid #cccccc;
    h2{
      font-size: 18px;
      line-height: 40px;
      color: #343434;
    }
    p{
      line-height: 18px;
      font-size: 12px;
      color: #b2b2b2
    }
    img{
      height: 60px;
      position: absolute;
      top:20px;
      right:10px;
    }
  }
  .details{
    width: 90%;
    margin: 10px auto ;
    h3{
      font-size: 14px;
      line-height: 50px;
      color: #676767;
    }
    article{
      p{
        line-height: 22px;
        font-size: 12px;
        color: #b2b2b2;
        text-indent:20px;
      }
    }
  }
}

.coupon-list{
    @extend .view-style;
    $img: $g-views + '/coupon/images';
    $image: $g-img;    // 静态图专用 images/_abc.png  在public/images/home-abc.png下生成
    ul{
        width: 90%;
        margin: 0 auto;
    }
    &-li{
        width: 100%;
        height: 100px;
        background: url($image+'/coupon-bg.png');
        background-size: cover;
        margin-top: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        &-left{
            font-size: 44px;
            line-height: 100px;
            color: $g-white;
            margin-left: 8%;
            icon{
                font-family: helvetica;
                font-size: 16px;
                margin-left: 3%;
            }
        }
    }
}
