
<div class="coupon-list scroll" ms-controller="couponList"  ms-on-click="itemClick($event)">
	<!--可用-->
	<div class="coupon-list-none" ms-visible="!listAva.length || !listExp">
		<img class="coupon-list-none-img" src="./images/nonecoupon.png"/>
	</div>
	<ul>
		<li class="coupon-list-li" ms-repeat-item="listAva" 
			ms-attr-id="item.id" ms-data-voucherName="item.voucherName" ms-data-startTime="item.startTime" ms-data-endTime="item.endTime" ms-data-voucherStatus="item.voucherStatus" ms-data-voucherAmount="item.voucherAmount">
			<div class="coupon-list-li-left">
				<icon>¥</icon>{{item.voucherAmount}}
			</div>
			<img src="./images/coupon-bg-middle.png" class="coupon-list-li-middle"/>
			<div class="coupon-list-li-right">
				<span class="coupon-list-li-right-title">{{item.voucherName}}</span>
				<span class="coupon-list-li-right-time">有效时间：{{item.startTime}}至{{item.endTime}}</span>
				<img src="./images/coupon-coupon.png" />
			</div>
		</li>
	</ul>
	<!--不可用-->
	<ul class="disabled">
		<li class="coupon-list-li" ms-repeat-item="listExp" ms-attr-id="item.id" ms-data-voucherName="item.voucherName" ms-data-startTime="item.startTime" ms-data-endTime="item.endTime" ms-data-voucherStatus="item.voucherStatus" ms-data-voucherAmount="item.voucherAmount">
			<div class="coupon-list-li-left">
				<icon>¥</icon>{{item.voucherAmount}}
			</div>
			<img src="./images/coupon-bg-middle-grey.png" class="coupon-list-li-middle"/>
			<div class="coupon-list-li-right">
				<span class="coupon-list-li-right-title">{{item.voucherName}}</span>
				<span class="coupon-list-li-right-time">有效时间：{{item.startTime}}至{{item.endTime}}</span>
				<img src="./images/coupon-passhalf.png" />
			</div>
		</li>
	</ul>
</div>