<div class="bill scroll" id="bill_contents">
<!--<div class="bill scroll" ms-controller="bill">-->
	<div class="view-box">
		<div class="bill-scroll">

			<!--买果仁相关-->
			<div class="bill-box-out" ms-controller="billBuyGop" ms-visible="type==='BUY_IN'">
				<div class="bill-box">
					<!--头部  进行中  成功  失败 -->
					<div class="bill-head" ms-class="{{headClass}}">
						{{headContent|html}}
					</div>

					<!--进行中  未支付 -->
					<div class="bill-wait" ms-visible="waitForPayMoney" ms-class="borderrudiasnone:status==='PROCESSING'">
						<div class="bill-wait-left">等待支付(¥)</div>
						<div class="bill-wait-right">{{waitForPayMoney|fix}}</div>
					</div>				
					<div class="bill-wait-buygop" ms-visible="status==='PROCESSING'">
						<div class="bill-wait-buygop-float">
							<div class="bill-wait-buygop-label">预获果仁 (<span class="iconfont icon-g"></span>)</div>
							<div class="bill-wait-buygop-price green">{{noPayGopNum|floorFix(3)}}</div>
						</div>
						<div class="bill-wait-buygop-float">
							<div class="bill-wait-buygop-label">当前买入价(¥)</div>
							<div class="bill-wait-buygop-price dark">{{gopPrice|fix}}</div>
						</div>
					</div>

					<!--买果仁成功-->
					<div class="bill-get" ms-visible="status==='SUCCESS'">
						<div class="bill-get-number">+{{gopNum|floorFix}}</div>
						<div class="bill-get-label">获得果仁(<span class="iconfont icon-g"></span>)</div>
					</div>

					<!--买果仁失败-->
					<div class="bill-pay" ms-visible="failReason">
						<div class="bill-label" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='FAILURE'">
							失败原因
						</div>
						<div class="bill-num red">{{failReason}}</div>
					</div>				

					<!--订单金额  关闭状态带上下边框  -->
					<div class="bill-pay" ms-visible="status==='CLOSE'"><!--买果仁 ms-visible="orderMoney&&!buyMoney"-->
						<div class="bill-label ash">
							订单金额
						</div>
						<div class="bill-num dark"><span class="font-rmb-icon">¥</span>{{orderMoney|abs|fix}}</div>
						<!--
						<div class="bill-pay-box" ms-visible="status==='SUCCESS'&&(payMoney||payGop)">
							<div class="bill-pay-item" ms-visible="payMoney">
								<div class="bill-label">支付金额</div>
								<div class="bill-num">-{{payMoney|fix}}</div>
							</div>
							<div class="bill-pay-item" ms-visible="payGop">
								<div class="bill-label">使用<span class="bill-green">{{payGop|floorFix}}</span>个果仁</div>
								<div class="bill-num">-{{(orderMoney-payMoney)|fix}}</div>
							</div>
						</div>
						-->
					</div>	

					<!--支付金额-->
					<div class="bill-pay" ms-visible="status==='SUCCESS'">
						<div class="bill-label ash">支付金额</div>
						<div class="bill-num dark"><span class="font-rmb-icon">¥</span>{{orderMoney|abs|fix}}</div><!---{{buyMoney|fix}}-->
					</div>

					<!--订单信息相关-->
					<div class="mt10px"></div>
					<div class="bill-detail-item" ms-visible="productDesc">
						<div class="bill-detail-left">商品信息</div>
						<div class="bill-detail-right dark" ms-class="ash:status==='CLOSE'||type==='REFUND'">{{productDesc}}</div>
					</div>
					<!--订单金额 失败不带上下边框-->
					<div class="bill-pay" ms-visible="status==='FAILURE'"><!--买果仁 ms-visible="orderMoney&&!buyMoney"-->
						<div class="bill-label" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='FAILURE'">
							订单金额
						</div>
						<div class="bill-num dark"><span class="font-rmb-icon">¥</span>{{orderMoney|abs|fix}}</div>
						<!--
						<div class="bill-pay-box" ms-visible="status==='SUCCESS'&&(payMoney||payGop)">
							<div class="bill-pay-item" ms-visible="payMoney">
								<div class="bill-label">支付金额</div>
								<div class="bill-num">-{{payMoney|fix}}</div>
							</div>
							<div class="bill-pay-item" ms-visible="payGop">
								<div class="bill-label">使用<span class="bill-green">{{payGop|floorFix}}</span>个果仁</div>
								<div class="bill-num">-{{(orderMoney-payMoney)|fix}}</div>
							</div>
						</div>
						-->
					</div>	
					<!--预计得果仁  关闭-->
					<div class="bill-detail-item" ms-visible="status==='CLOSE'">
						<div class="bill-detail-left">预计获得果仁</div>
						<div class="bill-detail-right dark" ms-class="ash:status==='CLOSE'"><span class="iconfont icon-g"></span>{{noPayGopNum|floorFix}}</div>
					</div>									
					<div class="bill-detail-item" ms-visible="status==='SUCCESS'">
						<div class="bill-detail-left">成交价</div>
						<!--<div class="fl">(¥)</div>-->
						<div class="bill-detail-right blue"><span class="font-rmb-icon">¥</span>{{gopPrice|fix}}</div>
					</div>	
					<div class="bill-detail-item" ms-visible="type==='BUY_IN'||type==='PAY'">
						<div class="bill-detail-left">收款方</div>
						<div class="bill-detail-right" ms-class-1="ash:status==='CLOSE'" ms-class-2="dark:status!=='CLOSE'">北京果仁宝科技有限公司</div>
					</div>
					<div class="bill-detail-item" ms-visible="createTime">
						<div class="bill-detail-left">创建时间</div>
						<div class="bill-detail-right" ms-class-1="ash:status==='CLOSE'" ms-class-2="dark:status!=='CLOSE'">{{createTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="orderTime">
						<div class="bill-detail-left">交易时间</div>
						<div class="bill-detail-right dark">{{orderTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="closeTime">
						<div class="bill-detail-left">关闭时间</div>
						<div class="bill-detail-right ash">{{closeTime}}</div>
					</div>				
					<div class="bill-detail-item" ms-visible="orderCode">
						<div class="bill-detail-left">订单号</div>
						<div class="bill-detail-right ash">{{orderCode}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="serialNum">
						<div class="bill-detail-left">流水号</div>
						<div class="bill-detail-right ash">{{serialNum|html}}</div>
					</div>
				</div>
				<!--未付款进行-->
				<a class="text-button" href="javascript:void(0);">
					<span class="button" ms-visible="waitForPay" ms-click="gotoPay">前往支付</span>
				</a>
				<div class="bill-more"><span class="blue" ms-visible="waitForPay" ms-click="close">关闭</span></div>
				<!--流程下来的完成-->
				<a class="text-button" href="javascript:void(0);"><span class="button" ms-visible="ifFinishButton" ms-click="finish">完成</span></a>
			</div>

			<!--话费充值-->
			<div class="bill-box-out" ms-controller="billPhone"  ms-visible="type==='CONSUME_ORDER'||type==='PAY'">
				<!--失败退款专用 -->
				<span class="poscenter refundVoucher" ms-visible="status==='FAILURE'&&voucherNum"></span>
				<div class="bill-box">
					<!--头部  进行中  成功  失败 
					ms-class-1="no-border:(type==='TRANSFER_IN'||type==='TRANSFER_OUT')||type==='REFUND'||status==='PROCESSING'"-->
					<div class="bill-head" ms-class="{{headClass}}" ms-class-1="noborderbottom:(status==='PROCESSING' && !waitForPay)||status==='SUCCESS'">
						{{headContent|html}}
					</div>	

					<!--进行中  未支付-->
					<div class="bill-wait" ms-visible="waitForPayMoney" ms-class="borderrudiasnone:status==='PROCESSING'">
						<div class="bill-wait-left">等待支付(¥)</div>
						<div class="bill-wait-right">{{waitForPayMoney|fix}}</div>
					</div>
					<!--进行中  已支付 bill-pay -->	
					<div class="bill-get no-bottom-border mb10px" ms-visible="status==='SUCCESS'"><!--已支付进行中  关闭  成功 专用-->
						<!--
						<div class="bill-label" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='FAILURE'">
							订单金额(¥)
						</div>
						-->
						<div class="bill-get-number mb10px" ms-class-1="dark:status!='CLOSE'">-{{payGop|abs|fix}}</div>
						<div class="bill-get-label" ms-class-1"ash:bankCangory">
							<span class="blue" ms-visible="payGop">果仁支付</span>
							<span class="ash" ms-visible="bankCangory">银行卡支付</span>
						</div>
						<span class="bill-coupon" ms-class-1="{{voucherClassName}}"></span>
					</div>	

					<div class="bill-get" ms-visible="status==='PROCESSING'&&!waitForPay">
						<div class="bill-get-number">-{{payGop|abs|fix}}</div>
						<span class="bill-coupon" ms-class-1="{{voucherClassName}}"></span>
						<div class="bill-get-label" ms-class-1="blue">果仁支付</div>
					</div>
					<!--失败-->
					<div class="bill-pay mb10px" ms-visible="failReason">
						<div class="bill-label" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='FAILURE'">
							失败原因
						</div>
						<div class="bill-num red text-align-right box-width200px">{{failReason}}</div>
					</div>

					<!--支付方式  失败专有-->
					<div class="bill-detail-item" ms-visible="(payGop || bankCangory) && status==='FAILURE'">
						<div class="bill-detail-left">支付方式</div>
						<div class="bill-detail-right dark">
							<p class="bill-detail-right-pr ash" ms-visible="payGop">果仁</p>
							<p class="bill-detail-right-pr ash" ms-visible="bankCangory">
								{{bankName}} {{bankCangory}} 
								<span class="blue">({{bankLastNum}})</span>
							</p>							
						</div>
					</div>
										
					<!--实付   失败专有-->
					<div class="bill-detail-item" ms-visible="hasPay  && status==='FAILURE'">
						<div class="bill-detail-left">实付</div>
						<div class="bill-detail-right dark">
							<p class="bill-detail-right-pr dark">
								<span class="iconfont icon-g dark"></span>
								{{payGop|ceilFix(3)}}
							</p>
						</div>
					</div>					
					<!--应付   失败专有-->
					<div class="bill-detail-item" ms-visible="!hasPay  && status==='FAILURE'">
						<div class="bill-detail-left">应付</div>
						<div class="bill-detail-right dark">
							<p class="bill-detail-right-pr dark">
								<span class="iconfont icon-g dark"></span>
								{{payGop|ceilFix}}
							</p>
						</div>
					</div>
					<div class="underline" ms-visible="status==='SUCCESS'"></div>
					<!--优惠 使用优惠券时候会显示-->
					<div class="bill-detail-item" ms-class-1="mb10px:(status==='SUCCESS'||hasPay)&&status!='FAILURE'" 
					ms-visible="voucherName" 
					ms-class-2="mat10px:(status==='SUCCESS'||hasPay)&&status!='FAILURE'"
					>
						<div class="bill-detail-left">优惠</div>
						<div class="bill-detail-right">
							<p class="bill-detail-right-pr" ms-class-1="ash:status==='FAILURE'">{{voucherName}}</p>
						</div>
					</div>						
					<!--银行卡信息 成功-->
					<div class="bill-detail-item mb10px" ms-visible="bankCangory&&status==='SUCCESS'">
						<div class="bill-detail-right dark w100">
							<p class="bill-detail-right-pr w100 wdcenter">{{bankName}} {{bankCangory}} ({{bankLastNum}})</p>
						</div>
					</div>	
<div class="bill-target-bottom" ms-visible="(status==='SUCCESS'&&(bankCangory||voucherName))||(status==='PROCESSING'&&(hasPay&&(bankCangory||voucherName)))"></div>
					<!--优惠后金额-->
					<div class="bill-detail-item mb10px" ms-visible="voucherName">
						<div class="bill-detail-left">优惠后金额</div>
						<div class="bill-detail-right">
							<p class="bill-detail-right-pr dark" ms-class-1="ash:status==='FAILURE'"><span class="font-rmb-icon">¥</span>{{voucherOrderMoney|fix}}</p>
						</div>
					</div>										
					<div class="underline" ms-visible="status==='FAILURE'||(status==='PROCESSING'&&hasPay)||(status==='SUCCESS'&&voucherName)"></div>		
					<!--付款详情 果仁支付-->
					<!--
					<div class="bill-detail-item" ms-visible="payGop">
						<div class="bill-detail-left">付款详情</div>
						<div class="bill-detail-right dark" ms-class="ash:status==='CLOSE'">
							<p class="bill-detail-right-pl">果仁</p>
							<span class="iconfont icon-g bill-detail-right-spanl"></span>
							<p class="bill-detail-right-pr">-{{payGop|ceilFix}}</p>
						</div>
					</div>
					-->
					<!--付款详情 银行卡支付 ms-visible="bankCangory"				
					<div class="bill-detail-item"  ms-visible="bankCangory">
						<div class="bill-detail-left">付款详情</div>					
						<div class="bill-detail-right dark" ms-class="ash:status==='CLOSE'">
							<p class="bill-detail-right-pl">{{bankCangory}}</p>
							<p class="bill-detail-right-pr">{{bankName}}</p>
						</div>
					</div>
					-->	
					<!--订单相关信息-->
					<div class="bill-pay no-padding no-bottom-border" ms-class-1="pbnone:status==='FAILURE'" ms-visible="hasPay||status==='CLOSE'"  ms-class-2="mat10px:status==='CLOSE'"><!--失败 专用 订单金额-->
						<div class="bill-detail-left">
							订单金额
						</div>
						<div class="bill-detail-right"><span class="font-rmb-icon">¥</span>{{orderMoney|fix}}</div>
						<!--
						<div class="bill-pay-box" ms-visible="status==='SUCCESS'&&(payMoney||payGop)">
							<div class="bill-pay-item" ms-visible="payMoney">
								<div class="bill-label">支付金额</div>
								<div class="bill-num">-{{payMoney|fix}}</div>
							</div>
							<div class="bill-pay-item" ms-visible="payGop">
								<div class="bill-label">使用<span class="bill-green">{{payGop|floorFix}}</span>个果仁</div>
								<div class="bill-num">-{{(orderMoney-payMoney)|fix}}</div>
							</div>
						</div>
						-->
					</div>					
					<div class="bill-detail-item">
						<div class="bill-detail-left">商品信息</div>
						<div class="bill-detail-right" ms-class="ash:status==='CLOSE'">{{productDesc}}</div>
					</div>					
					<div class="bill-detail-item" ms-visible="phoneNum">
						<div class="bill-detail-left">充值号码</div>
						<div class="bill-detail-right" ms-class="ash:status==='CLOSE'">{{phoneNum}}</div>
					</div>	
					<!--
					<div ms-class="underline:bankCangory||payGop"></div>
					ms-class-1="ash:status==='CLOSE'" ms-class-2="dark:status!=='CLOSE'"
					-->
					<div class="bill-detail-item" ms-visible="createTime">
						<div class="bill-detail-left">创建时间</div>
						<div class="bill-detail-right">{{createTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="orderTime">
						<div class="bill-detail-left">交易时间</div>
						<div class="bill-detail-right">{{orderTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="closeTime">
						<div class="bill-detail-left">关闭时间</div>
						<div class="bill-detail-right ash">{{closeTime}}</div>
					</div>	
					<div ms-visible="showHide">
						<div class="bill-detail-item" ms-visible="type==='BUY_IN'||type==='PAY'">
							<div class="bill-detail-left">收款方</div>
							<div class="bill-detail-right">北京果仁宝科技有限公司</div>
						</div>
						<div class="bill-detail-item" ms-visible="orderCode">
							<div class="bill-detail-left">订单号</div>
							<div class="bill-detail-right ash">{{orderCode}}</div>
						</div>
						<div class="bill-detail-item" ms-visible="serialNum">
							<div class="bill-detail-left">流水号</div>
							<div class="bill-detail-right ash">{{serialNum|html}}</div>
						</div>								
					</div>
					<!--"ash:status==='FAILURE'" ms-class-1="up:showhide===true" ms-class-2="down:showhide===false"-->
					<div class="showhide" ms-visible="showHideMoreBTN" ms-on-click="showHideMore" ms-class-1="up:showHide" ms-class-2="down:!showHide"></div>
				</div>

				<!--已付款进行  流程下来  有完成按钮-->
				<div class="text-button"><span class="button" ms-visible="ifFinishButton&&!ifReturnButton" ms-click="finish">完成</span></div>
				<div class="text-button"><span class="button" ms-visible="ifReturnButton" ms-click="finish">返回</span></div>
				<div class="bill-tip bill-finish-tip" ms-visible="ifTip">
					<!--{{tip|html}}-->预计20分钟内到账, 请稍后查看账单状态
					<!--<br>如有疑问, 请咨询
					<a class="a-blue" href="tel:400-184-9696">
						400-184-9696
					</a>
					-->
				</div>						
				<!--未付款进行-->
				<div class="text-button">
					<span class="button" ms-visible="waitForPay" ms-click="gotoPay">前往支付</span>
				</div>
				<div class="bill-more"><span class="blue" ms-visible="waitForPay" ms-click="close">关闭</span></div>
			</div>

			<!--转账-->
			<div class="bill-box-out" ms-controller="billTransfer" ms-visible="type==='TRANSFER_OUT' || type==='TRANSFER_IN'">
				<div class="bill-box">
					<!--头部  进行中  成功  失败 -->
					<div class="bill-head no-border" ms-class="{{headClass}}">
						{{headContent|html}}
					</div>	
					<!--金额  手续费 免手续费 果仁已到帐-->
					<div class="bill-get" ms-visible="transferNum">
						<div class="bill-get-number" ms-class-1="ash:status==='FAILURE'">
							{{transferSign}}{{transferNum|floorFix(3)}}
						</div>
						<div class="bill-get-label ash">{{poundage}}</div>
					</div>

					<!--我的 钱包 市场  对方信息-->
					<div class="bill-target" ms-visible="type==='TRANSFER_IN'||type==='TRANSFER_OUT'">
						<div class="bill-target-left">
							<div class="bill-target-img">
								<div class="bill-target-icon" ms-visible="!transferImg" ms-class="{{transferIcon}}"></div>
								<img alt="" class="bill-target-icon" ms-visible="transferImg" ms-attr-src="transferImg">
							</div>
						</div>
						<div class="bill-target-right">
							<!-- <div class="bill-target-name">{{transferName|omit}}</div> -->
							<div class="bill-target-name" ms-class-1="mt20px:transferName==='果小萌'">
								{{transferName|omit(10)}}
								<span ms-visible="transferName==='果小萌'" class="green">[官方]</span>
							</div>
							<div class="bill-target-address" ms-visible="transferName!='果小萌'">{{transferAddress}}</div>
						</div>
						<div class="bill-target-bottom"></div>
					</div>
					<!--进度条-->
					<div class="bill-stage" ms-visible="type==='TRANSFER_OUT'&&transferStage" ms-class="{{transferStage}}">
						<div class="bill-stage-line"></div>
					</div>
					<!--进度 内容-->
					<div class="bill-desc" ms-visible="type==='TRANSFER_OUT'&&transferStage&&(transferStart||transferOver)">
						<div class="bill-desc-left">
							<div class="bill-desc-name green">提交成功</div>
							<div class="bill-desc-time">{{transferStart}}</div>
						</div>
						<div class="bill-desc-right">
							<div class="bill-desc-name green" ms-visible="transferStage=='finish'">转帐成功</div>
							<div class="bill-desc-name" ms-visible="transferStage!='finish'">2小时内到帐</div>
							<div class="bill-desc-time">{{transferOver}}</div>
						</div>
					</div>

					<!--帐单信息-->
					<div class="bill-detail-item" ms-visible="transferFailReason">
						<div class="bill-detail-left">失败原因</div>
						<div class="bill-detail-right red">{{transferFailReason}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="submitTime&&(status==='FAILURE'||status==='CLOSE')">
						<div class="bill-detail-left">提交时间</div>
						<div class="bill-detail-right" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='CLOSE'">{{submitTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="serialNum">
						<div class="bill-detail-left">流水号</div>
						<div class="bill-detail-right ash">{{serialNum|html}}</div>
					</div>	
					<div class="bill-detail-item">
						<div class="bill-detail-left">转账说明</div>
						<div class="bill-detail-right ash">{{transferDesc}}</div>
					</div>	
				</div>
				<div class="text-button"><span class="button" ms-visible="ifReturnHome" ms-on-click="returnHome">回到首页</span></div>
				<!--转帐失败提示-->
				<div class="bill-tip" ms-visible="status==='FAILURE'">
					如果疑问，请联系果仁宝客服<br/>
					<a class="a-blue" href="tel:400-184-9696">400-184-9696</a>
				</div>
				<!--
				<div class="text-button"><span class="button" ms-visible="ifFinishButton" ms-click="finish">完成</span></div>
				-->		
			</div>

			<!--退款     隐藏了RMB相关的退款-->
			<div class="bill-box-out" ms-controller="billrefund"  ms-visible="type==='REFUND'">
				<div class="bill-box">
					<!--头部  进行中  成功  失败 -->
					<div class="bill-head" ms-class="{{headClass}}" ms-class-1="no-border:(type==='TRANSFER_IN'||type==='TRANSFER_OUT')||type==='REFUND'">
						{{headContent|html}}
					</div>	
					<!--退款数量-->
					<div class="bill-get">
						<div class="bill-get-number" ms-class="silver:status==='FAILURE'">+{{refundNum|ceilFix(3)}}</div>
						<div class="bill-get-label ash">{{refundWord}}</div>
					</div>
					<!--退款方-->
					<div class="bill-target">
						<div class="bill-target-left">
							<div class="bill-target-img">
								<div class="bill-target-icon"  ms-class-1="official:status!=='SUCCESS'" ms-class-2="refund-success:status==='SUCCESS'"></div>
							</div>
						</div>
						<div class="bill-target-right one">
							<span ms-class="dark:status==='SUCCESS'">果小萌</span>
							<span ms-class-2="green:status==='SUCCESS'">[官方]</span>
						</div>
						<div class="bill-target-bottom"></div>
					</div>
					<!--账单相关-->
					<div class="bill-detail-item" ms-visible="productDesc&&!((type==='BUYIN_ORDER'||type==='BUY_IN')&&status==='SUCCESS')">
						<div class="bill-detail-left">退款信息</div>
						<div class="bill-detail-right dark" ms-class="ash:status==='CLOSE'||type==='REFUND'">{{productDesc}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="voucherName">
						<div class="bill-detail-left">退还卡券</div>
						<div class="bill-detail-right blue">{{voucherName}}</div>
					</div>					
					<!--<div class="bill-detail-item" ms-visible="submitTime&&(status==='FAILURE'||status==='CLOSE')">-->
						<!--<div class="bill-detail-left">提交时间</div>-->
						<!--<div class="bill-detail-right" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='CLOSE'">{{submitTime}}</div>-->
					<!--</div>-->
					<div class="bill-detail-item" ms-visible="transferTime&&status==='SUCCESS'">
						<div class="bill-detail-left">到账时间</div>
						<div class="bill-detail-right ash">{{transferTime}}</div>
					</div>	
					<div class="bill-detail-item" ms-visible="orderCode">
						<div class="bill-detail-left">订  单  号</div>
						<div class="bill-detail-right ash">{{orderCode}}</div>
					</div>
					<!--<div class="bill-detail-item" ms-visible="serialNum">-->
						<!--<div class="bill-detail-left">流水号</div>-->
						<!--<div class="bill-detail-right ash">{{serialNum|html}}</div>-->
					<!--</div>-->
				</div>
				<div class="bill-tip" ms-visible="status==='FAILURE'">退款失败可能由多种原因造成，详情可咨询果仁宝客服 <br/> <a class="a-blue" href="tel:400-184-9696">400-184-9696</a></div>
			</div>
		</div>
		<!--
		<div style="border: 2px solid #ccc; margin-top:50px"></div>
		<div class="text-button"><span class="button" ms-visible="ifReturnHome" ms-click="returnHome">回到首页</span></div>
		<div class="text-button"><span class="button" ms-visible="ifFinishButton" ms-click="finish">完成</span></div>
		<div class="text-button"><span class="button" ms-visible="ifPayButton" ms-click="gotoPay">前往支付</span></div>
		<div class="bill-more"><span class="blue" ms-visible="ifClose" ms-click="close">关闭</span></div>
		<div class="bill-tip" ms-visible="ifTip">{{tip|html}}<a ms-visible="status!=='SUCCESS'" class="a-blue" href="tel:400-184-9696">400-184-9696</a></div>
		-->
	</div>
</div>
